<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_custom">
<head>
    <title>Member</title>
</head>


<div layout:fragment="content">
    <!-- my custom fragments links here-->
    <!--<h1>studentInfoEdit</h1>-->
    <div th:replace="view/student/edit/script :: editscript"></div>
    <div th:replace="view/student/edit/create :: editcreate"></div>

</div>


</html>