<div class="container" th:fragment="firstcreate" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class=" mb-sm-2 mt-2 border" style="">

            <div class="mt-1 col">
                <label class="col-md-8">Member Table</label>
                <a class="btn btn-outline-secondary pull-right float-right" href="/admin/createStudent">Create</a>
                <a class="btn btn-outline-secondary pull-right float-right" href="/admin/createStudent">Update</a>
            </div>

        <div class="m-2 ">
            <table border="1" id="listStudentTable" class="table">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Course Id</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>
