<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        var loaderId = "#customloader";
        var formId = "#customloader";

        $(document).ready(function () {
            $(loaderId).css('visibility', 'hidden'); // Hide element
        });

        /* hit controller to create (insert) data in DB */
        function saveStudentFn() {
            var formData = $("#studentform").serialize();
            startLoader(formId);

            $.ajax({
                type: "post",
                url: "/admin/saveStudent",
                data: formData,
                dataType: "json",
                success: function (data) {
                    swal("Welcome ", data.message);

                    stopLoader(formId);
                }
            });

        }

        function resetStudentList() {

        }


    </script>

</div>