<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login :: Falgun</title>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/navcss/external-bootstrap.min.css}"/>
    <div th:replace="commonfragment/common :: gscripts"></div>
</head>

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-info btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">
    <img th:src="@{/asset/images/103.gif}" class="img-responsive center-block" width="80" height="80" alt="Logo" />
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn btn-light btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        <p><a href="/registration">Register</a></p>

    </form>
</div>
</body>
</html>